{% extends 'base.html.twig' %}

{% block title %}Импорт из Excel{% endblock %}

{% block body %}
    <h1>Импорт из Excel</h1>

    {{ form_start(form) }}
    {# ... #}

    {{ form_end(form) }}
{% endblock %}
    

