{% extends 'base.html.twig' %}

{% block title %}Редактировать фото товара{% endblock %}

{% block body %}
    <h1>Редактировать фото товара</h1>

    {{ include('product_photo/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('product_photo_index') }}">вернуться к списку</a>

    {{ include('product_photo/_delete_form.html.twig') }}
{% endblock %}
