{% extends 'base.html.twig' %}

{% block title %}Создать фото{% endblock %}

{% block body %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><a href="{{ path('product_photo_index') }}">Фото</a> / Создание фото</div>
    </h4>

    <div class="card">
        <div class="card-body">
            {{ include('product_photo/_form.html.twig') }}
        </div>
    </div>
{% endblock %}