            
            
                <div style="
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;                    
                    border: 0px solid black;
                    margin-top: 10px;
                    padding: 0px;
                ">   
                    <div>
                        {{ form_widget(form.submit) }}
                    </div>
                    <div style="margin-left: 10px;">
                        <a href="{{ path('product_photo_index') }}">
                        {{ form_widget(form.btn_cancel) }}
                        </a>
                    </div>
                </div>
            