{% extends 'base.html.twig' %}

{% block title %}Создание свойств товара{% endblock %}

{% block body %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><a href="{{ path('product_property_index') }}">Свойства товара</a> / Создание свойств товара</div>
    </h4>

    <div class="card">
        <div class="card-body">
            {{ include('product_property/_form.html.twig') }}
        </div>
    </div>
{% endblock %}