{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Сохранить</button>
    <a class="btn btn-default" href="{{ path('product_index') }}">Отмена</a>
{{ form_end(form) }}
