{% extends 'base.html.twig' %}

{% block title %}Изменение товара{% endblock %}

{% block body %}
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div><a href="{{ path('product_index') }}">Товары</a> / Изменение товара</div>
    </h4>
    <div class="card">
        <div class="card-body">
            {{ include('product/_form.html.twig', {'button_label': 'Обновить'}) }} 
        </div>
    </div>
{% endblock %}

